/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 07 */

.container {
	width: 1024px; /* change me to a percentage width, like 80% */
	margin: 0 auto;
}


.header {}

.logo {
	width: 250px;
	float: left;

}

.navigation {
	float: right;
	width: 600px;
}

.sidebar {
	float: left;
	width: 250px;
}

.main-content {}

.sub-content {
	float: right;
	width: 600px;
}

.sub-content-2 {
	width: 600px;
	float: right;
}

.footer {
	clear: both;
}

.header:after {
	content: "";
	display: block;
	clear: both;
}
.main-content:after {
	content: "";
	display: block;
	clear: both;

}
